 <div class="menu">
        <nav>
            <ul>
                <li><a class="accueil" id="focus" href="accueil.php">Accueil</a></li>
                <li><a class="activites" href="activites.php">Les activités</a></li>
                <li><a class="messagerie" href="messagerie.php">Messagerie</a></li>
                <li><a class="forum" href="forum.php">Forum</a></li>
                <li><a class="membres" href="membres.php">Les membres</a></li>
                <li class="button"><a id="connexion">Connexion</a></li>    
                <li class="button" id="inscription"><a>Inscription</a></li>
            </ul>
        </nav>
    </div>